.ui-layout-north {
	background-image: url("../images/upper_back.jpg");
	background-repeat: no-repeat;
	background-position: center;
}

.ui-layout-north .ui-layout-unit-content {
	background: inherit;
}

.logo {
	padding: 10px;
}

.loginInfo {
	width: auto;
	float: right;
}

.loginInfo tbody td {
	text-align: right;
}

.loginInfo .loginName {
	font-weight: bold;
	font-size: 14px;
}

.homeDiv {
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.welcome {
	font-size: 18px;
	font-weight: bold;
}

.welcomeButtons tbody td {
	text-align: center;
}

.welcomeButtons button {
	float: none;
}